@import "tailwindcss";

@theme {
  --color-prim: var(--prim);
  --color-prim-dark: var(--prim-dark);
  --color-text: var(--text-color);
  --color-text-light: var(--text-light);
  --color-body: var(--body);
  --color-white: var(--white);
  --color-black: var(--black);
}

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim: #B79F4F;
  --prim-dark: #ffc400;
  --text-color: #1D1913;
  --text-light: #c4beb8;
  --body: #191817;
  --white: #fff;
  --black: #000;

  --transition-regular: .3s;
  --transition-slow: .6s;
}

.Rethink {
  font-family: var(--font-rethink);
}

.DmSans {
  font-family: var(--font-dmSans);
}

.Audiowide {
  font-family: var(--font-audiowide);
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--body);
  color: var(--white);
  overflow-x: hidden !important;
}

/* .hero-header {
  width: 100%;
  height: 100vh;
  background-image: url(/Images/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.marquee-text {
  -webkit-text-stroke: 2px var(--black);
  color: transparent;
}

.marquee__text {
  width: max-content;
  animation: marquee 25s linear infinite;

}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}